{% extends 'base.html.twig' %}

{% block body %}

    <div class="serie-details">
        <div>
            <img src="{{ asset('images/posters/series/' ~ serie.poster) }}" alt="{{ serie.name }}">
        </div>

        <div class="serie-details-infos">
            <h2>{{ serie.name}}</h2>
            {% if app.user %}
                <div>
                    <a class=" link_button" href="{{ path('series_update', {'id': serie.id}) }}">Update </a>
                    <a onclick="return confirm('Are you sure to delete {{ serie.name}} ?')"
                       class="link_button" href="{{ path('series_delete', {'id': serie.id}) }}">Delete </a>
                    <a class="link_button" href="{{ path('season_create_with_serie', {'serie': serie.id}) }}">Add a new season </a>
                </div>
            {% endif %}
            <div>User rating : {{ serie.vote }}</div>
            <div>Genres : {{ serie.genres }}</div>
            <div>Status : {{ serie.status }}</div>
            <div>Aired from {{ serie.firstAirDate | date("Y-m-d") }} to {{ serie.lastAirDate | date("Y-m-d") }}</div>
            <div>Overview : {{ serie.overview | nl2br }}</div>
        </div>

    </div>

    <div class="seasons">

            <h3>Season !</h3>
            {% for season in serie.seasons %}
                <article>
                    <img src="{{ asset('images/posters/seasons/' ~ season.poster) }}"
                            alt="{{ serie.name }} -  {{ season.number }}">
                    <div>
                        <h4>Season #{{ season.number }}</h4>
                        <div>{{ season.overview | nl2br }}</div>
                    </div>
                </article>
            {%  endfor %}


    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        body{
            background-image: linear-gradient(rgba(0,0,0, 0.9), rgba(0,0,0, 0.3)),
                    url("{{ asset('images/backdrops/' ~ serie.backdrop) }}");
        }
    </style>
{% endblock %}