{# nav>ul>(li>a)*4 #}
<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Home</a></li>
        <li><a href="{{ path('main_test') }}">Tests</a></li>
        <li><a href="{{ path('series_list') }}">All series</a></li>
        <li><a href="{{ path('series_create') }}">Add a series</a></li>
        <li><a href="{{ path('season_create') }}">Add a season</a></li>

    </ul>
</nav>
